// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #7209b7;
$secondary: #f72585;
$accent: #3a0ca3;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// https://colors.eva.design
// $primary: ;
// $secondary: ;
// $accent: ;

// $dark: ;
// $dark-page: ;

// $positive: ;
// $negative: ;
// $info: ;
// $warning: ;

// https://app.atmos.style/6745a5ba2ab946f11c10399d/colors?colorEmotions=playful%2Ccreativity%2Centhusiasm%2Cimagination%2Cresponsibility&colorIndustries=technology
// $primary: #b375d6;
// $secondary: #906037;
// $accent: #3a0ca3;

// $dark: #1d1d1d;
// $dark-page: #121212;

// $positive: #5bd327;
// $negative: #e14933;
// $info: #3687f4;
// $warning: #e4a536;

// $primary: #591061;
// $secondary: #ded17a;
// $accent: #0e9cf5;

// $positive: #9dd830;
// $negative: #e31238;
// $info: #0e9cf5;
// $warning: #e6d42f;

// $primary: #c338b8;
// $secondary: #7e06dc;
// $accent: #297ad6;

// $dark: ;
// $dark-page: ;

// $positive: #3ade46;
// $negative: #d76055;
// $info: #297ad6;
// $warning: #ce791b;
